
<%- include("partials/header"); -%>
   <% if(islogin){ %>
    <h1>登录了</h1>
    <% }else{ %>
      <h1>没登录</h1>
      <% } %>   
    <div class="container">

      <div class="blog-header">
        <h1 class="home-blog-title">Welcome ,</h1><h1 class="home-blog-title-guest">  </h1><h1 class="home-blog-title-guest"> &nbsp;<%= userName %> </h1>
        <p class="lead blog-description"><%= startingContent %></p>
      </div>
<hr />
      <div class="row">

        <div class="col-sm-8 blog-main">
          <%  posts.forEach(function(post){ %>
          <div class="blog-post">
            <h2 class="blog-post-title post-title"><%=post.title%></h2>
            <p class="blog-post-meta color-brown" >
              <%= post.time  %>
              <form action="/starclick" method="post" id="<%= post._id  %>" >
                <input type="hidden" name = "postid" value = <%= post._id %> >
                <button type="submit"><i  class="fa-solid fa-star color-orange " ></i></button> &nbsp;<%=post.starUser.length %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4 style="display:inline-block;color:cornflowerblue"><%=post.subject %> </h4>
              </form>
              
               
              
            </p>
<script>
  function submit1(a){
  document.getElementById(a).submit();
  }
</script>
            <p> <%=post.content.substring(0, 400) + " ..."%> <a href="/posts/:<%= post.title %> ">read more</a></p>
            <hr>
          </div>
          <% }) %>
         

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Top Articles</h4>
            <ol class="list-unstyled ">
              <% topssblog.forEach(function(topblog){ %>
                <li >
               <a href="/posts/:<%= topblog.title %> " ><%=  topblog.title  %> </a> &nbsp;&nbsp;
                <i  class="fa-solid fa-star color-orange " ></i>
                &nbsp;<%=topblog.star %>&nbsp;&nbsp;
              </li>
              <% }) %> 
            </ol>




           
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="/subjects/HTML">HTML</a></li>
              <li><a href="/subjects/CSS">CSS</a></li>
              <li><a href="/subjects/Javascript">Javascript</a></li>
              <li><a href="/subjects/Node.js">Node.js</a></li>
              <li><a href="/subjects/EJS">EJS</a></li>
              <li><a href="/subjects/React.js">React.js</a></li>
              <li><a href="/subjects/MongoDB">MongoDB</a></li>
              <li><a href="/subjects/AWS Cloud Service">AWS Cloud Service</a></li>
              <li><a href="/subjects/C#">C#</a></li>
              <li><a href="/subjects/.Net">.Net</a></li>
              <li><a href="/subjects/MS SQLServer">MS SQLServer</a></li>
              <li><a href="/subjects/HTTP">HTTP</a></li>
              <li><a href="/subjects/UNITY3D">UNITY3D</a></li>
              <li><a href="/subjects/Data Structures and Algorithms">Data Structures and Algorithms</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/YAOMVP"><i class="fa-brands fa-github"></i>GitHub</a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i>Twitter</a></li>
              <li><a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin"></i></i>Linkin</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
      <h2>Guest Comments</h2>
      <% messages.forEach(function(message){ %> 
      <div class="row messagesbox">
        <div class="col-lg-2 guesticon tablemessage">
          <div class="messagep-son-left">
            <i class="fa-solid fa-user-large fa-7x"></i>
            <h3><%= message.name %></h3>
          <h5 style = "color:#EE6983;"><%= message.time %> </h5>
          </div>
          
          
        </div>
        <div class="col-lg-10 messagep tablemessage-right">
          <div class="messagep-son-right">
            <p><%= message.content %>  </p>
          </div>
         
          
          
        </div>
      </div>
      <% }) %> 





    </div><!-- /.container -->
    <div class="container text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="/home/1">1</a></li>
          <li><a href="/home/2">2</a></li>
          <li><a href="/home/3">3</a></li>
          <li><a href="/home/4">4</a></li>
          <li><a href="/home/5">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>


    <script src="https://kit.fontawesome.com/af2f068da0.js" crossorigin="anonymous"></script>
<%- include("partials/homeFooter"); -%>
