
<%- include("partials/header"); -%>
   
    <div class="container">

      <div class="blog-header">
        <h1 class="home-blog-title">Welcome,</h1><h1 class="home-blog-title-guest">  </h1><h1 class="home-blog-title-guest"> &nbsp;<%= userName %> !</h1>
        <p class="lead blog-description"><%= startingContent %></p>
      </div>
<hr />
      <div class="row">

        <div class="col-sm-8 blog-main">
          <%  posts.forEach(function(post){ %>
          <div class="blog-post">
            <h2 class="blog-post-title"><%=post.title%></h2>
            <p class="blog-post-meta color-brown" ><%= post.time  %> <a class="star-margin " href="#"><i class="fa-solid fa-star color-orange "></i><% post.starUser.length %> </a></p>

            <p> <%=post.content.substring(0, 400) + " ..."%> <a href="/posts/:<%= post.title %> ">read more</a></p>
            <hr>
          </div>
          <% }) %>
         

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Top Articles</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/YAOMVP">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
      <h2>Guest Comments</h2>
      <% messages.forEach(function(message){ %> 
      <div class="row messagesbox">
        <div class="col-lg-2 guesticon tablemessage">
          <div class="messagep-son-left">
            <i class="fa-solid fa-user-large fa-7x"></i>
            <h3><%= message.name %></h3>
          <h5 style = "color:#EE6983;"><%= message.time %> </h5>
          </div>
          
          
        </div>
        <div class="col-lg-10 messagep tablemessage-right">
          <div class="messagep-son-right">
            <p><%= message.content %>  </p>
          </div>
         
          
          
        </div>
      </div>
      <% }) %> 





    </div><!-- /.container -->
    <div class="container text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="/home">1</a></li>
          <li><a href="/home/2">2</a></li>
          <li><a href="/home/3">3</a></li>
          <li><a href="/home/4">4</a></li>
          <li><a href="/home/5">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>


    <script src="https://kit.fontawesome.com/af2f068da0.js" crossorigin="anonymous"></script>
<%- include("partials/homeFooter"); -%>
