
<%- include("partials/header"); -%>
   
<div class="container">

  <div class="blog-header">
    <h1 class="home-blog-title">Welcome,</h1><h1 class="home-blog-title-guest">&nbsp;<%= userName %> !</h1>
    <p class="lead blog-description"><%= startingContent %></p>
  </div>
<hr />
    <div class="row">

      <div class="col-sm-8 blog-main">
        <%  posts.forEach(function(post){ %>
        <div class="blog-post">
          <a href="/posts/:<%= post.title %> "><h3 class="blog-post-title post-title"><%=post.title%></h3></a>
          <p class="blog-post-meta color-brown blog-time" >
            <%= post.time  %>
            <form action="/starclick" method="post" id="<%= post._id  %>" >
              <input type="hidden" name = "postid" value = <%= post._id %> >
              <button type="submit">
                <i  class="fa-solid fa-star color-orange " ></i>
              </button> &nbsp;<%=post.starUser.length %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <h4 style="display:inline-block;color:cornflowerblue"><%=post.subject %> </h4>
            </form>
            
             
            
          </p>

          <p> <%=post.content.substring(0, 400) + " ..."%> <a href="/posts/:<%= post.title %> ">read more</a></p>
          <hr>
        </div>
        <% }) %>
        <div id ="message-board" >
          <div class="jumbotron">
            <h2>Message Board</h2>
            <form action="/homeMessages" method="post">
              <textarea name="text" class="lead" rows="5" cols="67" placeholder="Please leave your messages here, thanks!" required ></textarea>
            <button class="btn btn-lg btn-primary"  type="submit">Submit</button>
    
            </form>
            
          </div>
          
        </div>
      
        <h2 class="guest-comments">Guest Comments</h2>

        <% for ( i = 0; i< messages.length;i++){ %> 
          <div class = "comment-test">
        <hr />
            <div class="comment-icon1">
              <i class="fa-solid fa-user-large fa-4x container-img1 color-blue-fas"></i>
              <p class="comment-icon1-p" >  Floor<%= i+1 %> </p>
            </div>
            <div class="comment-details1">
              <div class="comment-details-header">
                <%= messages[i].name %>
              </div>
              <div class="comment-details-body">
                <p><%= messages[i].content %>  </p>
              </div>
              <div class="comment-details-footer">
                <%= messages[i].time %>
              </div>
            </div>
          </div>
          <% }%> 

      </div>
   
    
    

    <div id="siders" class="col-sm-3 col-sm-offset-1 blog-sidebar ">
     
        <div class="sidebar-module sidebar-module-inset">
          <h4 class="side-h4">Top Articles</h4>
          <ol class="list-unstyled ">
            <% topssblog.forEach(function(topblog){ %>
              <li >
             <a href="/posts/:<%= topblog.title %> " ><%=  topblog.title  %> </a> &nbsp;&nbsp;
              <i  class="fa-solid fa-star color-orange " ></i>
              &nbsp;<%=topblog.star %>&nbsp;&nbsp;
            </li>
            <% }) %> 
          </ol>
        </div>
        <div class="sidebar-module">
        <h4 class="side-h4">Archives</h4>
        <ol class="list-unstyled">
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/HTML">HTML</a></li>
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/CSS">CSS</a></li>
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/Javascript">Javascript</a></li>
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/Node.js">Node.js</a></li>
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/EJS">EJS</a></li>
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/React.js">React.js</a></li>
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/MongoDB">MongoDB</a></li>
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/AWS Cloud Service">AWS Cloud Service</a></li>
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/C#">C#</a></li>
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/.Net">.Net</a></li>
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/MS SQLServer">MS SQLServer</a></li>
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/HTTP">HTTP</a></li>
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/UNITY3D">UNITY3D</a></li>
          <li class="sidebar-module-p"><a class="sidebar-module-p" href="/subjects/Data Structures and Algorithms">Data Structures and Algorithms</a></li>
        </ol> 
      </div>
      <div class="sidebar-module">
        <h4 class="side-h4">Elsewhere</h4>
        <ol  class="list-unstyled list-icon-link">
          <li class = "icon-link" ><a href="https://github.com/YAOMVP"><i class="fa-brands fa-github fa-2xl github "></i>&nbsp;&nbsp;GitHub</a></li>
          <li class = "icon-link"><a href="#"><i class="fa-brands fa-twitter fa-2xl facebook"></i>&nbsp;&nbsp;Twitter</a></li>
          <li class = "icon-link"><a href="#"><i class="fa-brands fa-facebook fa-2xl facebook"></i>&nbsp;&nbsp;Facebook</a></li>
          <li class = "icon-link"><a href="#"><i class="fa-brands fa-linkedin fa-2xl facebook"></i></i>&nbsp;&nbsp;&nbsp;Linkin</a></li>
        </ol> 
      </div> 
    
    </div><!-- /.blog-sidebar -->


   
  </div><!-- /.row -->



    

 



</div><!-- /.container -->






<div class="row">

  <div class="col-sm-8 blog-main">
    <hr />
    </div>
    </div>

<div class="container text-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <% if (pageshowNum ===1) {%>  
          <a href="/home/<%= pageshowNum %> "aria-label="Previous">
            <% }else{ %>        
         <a href="/home/<%= pageshowNum-1 %> "aria-label="Previous"> 
          <% } %> 
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% if(pageshowNum<4) {%> 
        <% for( let i =1; i< 6;i++) {%>
            <% if (i === pageshowNum){ %>
                <li class = "currentPage"><a  style = "background-color:#F1EFDC ;"href="/home/<%=i %> "><%= i %> </a></li>
                <% }else{ %>  
            <li><a href="/home/<%=i %> "><%= i %> </a></li>
            <% }}}else if(maxPage-pageshowNum<2){ %>
             
                <% for( let i = maxPage-4; i< maxPage+1;i++) {%>
                    <% if (i === pageshowNum){ %>
                        <li class = "currentPage"><a  style = "background-color:#F1EFDC ;"href="/home/<%=i %> "><%= i %> </a></li>
                        <% }else{ %>  
                    <li><a href="/home/<%=i %> "><%= i %> </a></li>
          
    <%}} }else{ %>
        <% for( let i = pageshowNum -2; i< pageshowNum+3;i++) {%>
            <% if (i === pageshowNum){ %>
                <li class = "currentPage"><a  style = "background-color:#F1EFDC ;"href="/home/<%=i %> "><%= i %> </a></li>
                <% }else{ %>  
            <li><a href="/home/<%=i %> "><%= i %> </a></li>
            <% }}} %> 
      <li>
        <% if (pageshowNum === maxPage) {%>  
        <a href="/home/<%= pageshowNum %> " aria-label="Next">
          <% }else{ %>
            <a href="/home/<%= pageshowNum+1 %> " aria-label="Next">
              <% } %> 
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<script>
  const navbar = document.getElementById("message-board");
  const siders = document.getElementById("siders");
  let sticky = navbar.offsetTop;
  let sidersticky = siders.offsetTop;
  document.addEventListener("scroll",myFunction);
  function myFunction() {
    if (window.scrollY >= sticky) {
    navbar.classList.add("sticky")
    } else {
    navbar.classList.remove("sticky");
    }
    if (window.scrollY >= sidersticky) {
    siders.classList.add("siderbar-part")
    } else {
    siders.classList.remove("siderbar-part");
    }
  }
  </script> 

<script src="https://kit.fontawesome.com/af2f068da0.js" crossorigin="anonymous"></script>
<%- include("partials/homeFooter"); -%>
